<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="connectionStringWeb" connectionString="Data Source=api.footballmarkt.ir;Initial Catalog=foootbal_market;Persist Security Info=True;User ID=foootbal_sa;Password=***"/>
    <add name="connectionStringLocal" connectionString="Data Source=.;Initial Catalog=footballmarket;Persist Security Info=True;User ID=sa;Password=123"/>
  </connectionStrings>
</configuration>
